
#alarminputs{
  font-family:"Lato", Calibri, Arial, sans-serif;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  height: 29px;
  clear:both;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: ;
    display: inline-flex;
    float: left;
    width: 100%;
    max-width: 100%;


}

.alarmclass{
  
  font-family:"Lato", Calibri, Arial, sans-serif;
    border: 1px solid #B5C9D4;
    padding: 8px 10px;
    background: #ECF1F4;
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #3E7EA0;
    height: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 50px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 3px rgba(25, 62, 83, 0.1) inset, 0px 0px 0px 8px rgba(155, 180, 195, 0.3);
}

.alarmclass:focus{
  outline: none;
  position: relative;
   
}



#clock-wrapper{
      font-family: "Lato", Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
    font-size:90px;
    color:#fff;
    text-align:center;
    margin-top:20px;
}
#alarmbody{
  background-color: #35557A;
}

p{
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -20px;
}
.txtoftime, .when-alrm-ring{
      font-family: "Lato", Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
    color:#efefef;
    font-size:30px;

    
}
.gethour, .getmin, .gettimes{
    border:none;
    background:transparent;
    outline:none;
      font-family: "Lato", Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
    font-size:15px;
    color:#eee;
    border-bottom:1px solid #eee;
    width:100px;
    margin-top:20px;
    text-align:center;
}

.when-alrm-ring{
    display:none;
}

.bttn {
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-style: normal;
  font-size: 25px;
    color:#000;
    border:3px solid #000;
    height: 50px;
    width:50px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    cursor:pointer;
}
.bttn:hover{
  color:#fff;
  border: 3px solid #fff;
  background: #000;
}

.blink{
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color:#599bb3;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  outline: none;
  position: relative;
  width: 100%;
  top: 30px;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
}
.myButton:active {
  position:relative;
  
}
