@padding-large-vertical: 10px;
@padding-base-vertical: 6px;
@font-size-h3: 24px;

.dropmenu-item-btn {
  text-align: center;

  // Unfortunate cascade in Bootstrap
  .dropdown-menu > li > & {
    padding: @padding-large-vertical;
    
    &:hover,
    &:focus,
    &:active {
      color: darken(#428bca, 6.5%);
    }
  }

  > .glyphicon {
    display: block;
    font-size: @font-size-h3; // 24px
    margin-bottom: @padding-base-vertical;
  }
}

.open > .dropdown-menu--horizontal {
  display: flex;
  
  > li > a {
    min-width: 80px;
  }
  > .divider {
    width: 1px;
    height: auto;
    margin: 0 9px;
  }
}
/* General styles to improve presentation */
html, body {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #44a17d 0, #365e81 100%);
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  padding:0;
  margin:0;
  color: #fff;
}
h3 {
  position: absolute;
  left: -340px;
  top: -25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.dropdown {
  margin-top: -100px;
  margin-left: 40px;
}
.dropdown-menu {
  min-width: 80px;
}