@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:#783F99;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:center;
	
}

#form-div {
	background-color:#783F99;
	
	padding-top:25px;
	padding-bottom:30px;
	width: 50%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 10%;
	position: relative;
 	border-radius: 20px;
  
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  border-radius: 30px;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #5A038C;
	color: #5A038C;
	outline: none;
  padding: 13px 13px 13px 54px;

}

.focused{
	color:#5A038C;
	border:#5A038C solid 3px;
}

/* Icons ---------------------------------- */
#fname, #mname, #lname{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#fname:focus, #mname:focus, #lname:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#age{
	background-image:url(../images/age.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#age:focus{
	background-image: url(../images/age.png);
	background-size: 30px 30px;
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#gender{
	background-image:url(../images/gendertemp.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#gender:focus{
	background-image: url(../images/gendertemp.png);
	background-size: 30px 30px;
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}


#email{
	background-image: url(../images/email2.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(../images/email2.png);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #783F99;
	color:white;
	font-size:15px;
	padding-top:15px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #783F99;
	

}
	
.submit:hover {
	color: #783F99;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #821499;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

#Regheader{
	font-size:16px;
    font-weight:normal;
    font-weight: bold;
    font-family: verdana;
    color: white;
    overflow:visible;
    padding:15px;
    text-align:center;

}

#divregheader{

	background-color:#8E0099;
}
