

#buttonregister{

	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
max-width: 100%;
  width: 50%;
  position: relative;
  height: 45px;
    top: 220px;
 outline: none;

  border-radius: 30px;
  cursor:pointer;
  background-color:rgba(167, 200, 255, .3);
  color:white;
 
  
 
}

#body {

	display: block;
  text-align: center;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
   background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right,#10A0B7,#2A2868); 
    background-repeat: no-repeat;
    background-attachment: fixed;


	}



#convo1 {
	top: 80px;
	max-width: 100%;
  width: 100%;
  height: auto;
  position:relative;
 margin-top: 0;

	
   

    }


#Regheader{
	font-size:13px;
    font-weight:normal;
    font-weight: bold;
    font-family: verdana;
    color: white;	
    margin:0px;
    overflow:visible;
    padding:10px;
    text-align:center;

}

#divregheader{

	background-color: #2F597A;
}



#registerbody {

	background-color: #366F9C;
 
	}

#loginform {

	color: white;
}

textarea#styled {
	width: 97%;
	height: 200px;
	border: 7px solid #537190;
	padding: 5px;
	font-family: "Lato", Calibri, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color:#747474;
	background-position: bottom right;
	background-color: #EBF0F4;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	border-radius: 30px;
	outline: none;
}



label {
	font-family:"Lato", Calibri, Arial, sans-serif;
	color: white;
	font-weight: bold;
	padding-top: 10px;
	height: 30px;
	
}

#addeventinput1{
	font-family:"Lato", Calibri, Arial, sans-serif;
	color: black;
	font-weight: bold;
	display: block;
	height: 29px;
    position: relative;
    top: 130px;
    margin: auto;
    display: inline-block;
   



}
.addevent1{

	font-family:"Lato", Calibri, Arial, sans-serif;
    border: 1px solid #B5C9D4;
    padding: 8px 10px;
    background: #ECF1F4;
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #3E7EA0;
    height: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 50px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 3px rgba(25, 62, 83, 0.1) inset, 0px 0px 0px 8px rgba(155, 180, 195, 0.3);
}

.addevent1:focus{
	outline: none;
	 
}


.addbutton2{
	-moz-box-shadow:inset -1px 2px 0px 0px #dcecfb;
	-webkit-box-shadow:inset -1px 2px 0px 0px #dcecfb;
	box-shadow:inset -1px 2px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:2px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	text-align: center;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	outline: none;
	position: relative;
	top: 80px;
	left: 33%;
	right: 30%;
	width: 30%;
	height: 50px;
	max-width: 100%;
}
.addbutton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
	
}
.addbutton2:active {
	position:relative;
	

}

#addbody{
	background-color:#2F597A;

}



.new-search {
   
    font-family:"Lato", Calibri, Arial, sans-serif;
    border: 1px solid #B5C9D4;
    padding: 6px 15px;
    background: #ECF1F4;
    width: 100%;
    font-size: 12px;
    color: #3E7EA0;
    height: 30px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 3px rgba(25, 62, 83, 0.1) inset, 0px 0px 0px 8px rgba(155, 180, 195, 0.3);
}
.new-search:focus {
    outline: none;
}

.clear {
    clear:both;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
}








#main {
    transition: margin-left .5s;
    padding: 16px;
}



.home-icon{
	background-image:  url("images/homeblue.png") no-repeat top left;
	padding: 2px 0 0 25px;
}

#searchinput{
	font-family:"Lato", Calibri, Arial, sans-serif;
	color: black;
	font-weight: bold;
	padding-top: 10px;
	height: 29px;
	clear:both;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    margin-top: 30%;
    position: absolute;
    top: 10%;
    left: 0;
    right: 10%;
    display:block;


}
.searchinput{
	
	font-family:"Lato", Calibri, Arial, sans-serif;
    border: 1px solid #B5C9D4;
    padding: 8px 10px;
    background: #ECF1F4;
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #3E7EA0;
    height: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 50px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 3px rgba(25, 62, 83, 0.1) inset, 0px 0px 0px 8px rgba(155, 180, 195, 0.3);
}

.searchinput1:focus{
	outline: none;
	 
}

#searchbutton{
	position: relative;
	top: 280px;
	width: 100%;
	width: 40%;
	right: 0;
	left: 30%;
	-moz-box-shadow:inset -1px 2px 0px 0px #dcecfb;
	-webkit-box-shadow:inset -1px 2px 0px 0px #dcecfb;
	box-shadow:inset -1px 2px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:2px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	outline: none;
	

}
#searchbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
	
}
#searchbutton:active {
	position:relative;
	

}

#searchbody {
	background-color: #2F597A;
}


