html, body {
height:100%;
min-height: 100%;
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
margin:0;
padding:0;
border:0;
font:inherit;


}

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th, .rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}


.rwd1-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd1-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd1-table th {
  display: none;
}

.rwd1-table td {
  display: block;
}

.rwd1-table td:first-child {
  padding-top: .5em;
}

.rwd1-table td:last-child {
  padding-bottom: .5em;
}

.rwd1-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd1-table td:before {
    display: none;
  }
}

.rwd1-table th, .rwd1-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd1-table th, .rwd1-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd1-table th:first-child, .rwd1-table td:first-child {
    padding-left: 0;
  }
  .rwd1-table th:last-child, .rwd1-table td:last-child {
    padding-right: 0;
  }
}

.searchbody {
 
  
  
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    background: linear-gradient(to bottom right,#10A0B7,#2A2868); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%
    min-height: 100%;
 background-position: 0px 0px;
  margin: 0;

}
.alarmbody {
 
 
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    background: linear-gradient(to bottom right,#10A0B7,#2A2868); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%
    min-height: 100%;
 background-position: 0px 0px;
  margin: 0;
}


.searchresultbody {
 
 
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    background: linear-gradient(to bottom right,#10A0B7,#2A2868); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%
    min-height: 100%;
 background-position: 0px 0px;
  margin: 0;
}


.homebody {

  
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    background: linear-gradient(to bottom right,#10A0B7,#2A2868); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%
    min-height: 100%;
 background-position: 0px 0px;
  margin: 0;
  

}
.historybody {
 
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    background: linear-gradient(to bottom right,#10A0B7,#2A2868); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%
    min-height: 100%;
 background-position: 0px 0px;
  margin: 0;
}


.rwd1-table {
  background-color:rgba(27, 33, 50, .4);
  border-color: #FFFFFF;
  color: #fff;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:inset 0 0 2px 2px #888;
    font-size: 10px;
}

.rwd1-table tr {
  border-color: #FFFFFF;
  font-size: 15px;
  box-shadow:inset 0 0 5px 5px #888;
  border-width: 3px;

}

.rwd1-table th, .rwd1-table td {
  margin: .1em .1em;
  border-color: #FFFFFF;
  border-width: 3px;

}

@media (min-width: 480px) {
  .rwd1-table th, .rwd1-table td {
    padding: 20px !important;
    overflow:auto;
    min-width:0;
    width:100%

    
    top:100px!important;
    left:auto!important;
    right:-150px!important;
    width:200px!important;
  }
}

.rwd1-table th, .rwd1-table td:before {
  color: #FFFFFF;

}


.rwd-table {
  background-color:rgba(27, 33, 50, .4);
  border-color: #FFFFFF;
   color: #fff;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:inset 0 0 2px 2px #888;
    font-size: 10px;
}

.rwd-table tr {
  border-color: #FFFFFF;
  font-size: 15px;
  box-shadow:inset 0 0 2px 2px #888;
  border-width: 3px;

}

.rwd-table th, .rwd-table td {
  margin: .1em .1em;
  border-color: #FFFFFF;
  border-width: 3px;

}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 20px !important;
    overflow:auto;
    min-width:0;
    width:100%

    
    top:100px!important;
    left:auto!important;
    right:-150px!important;
    width:200px!important;
  }
}

.rwd-table th, .rwd-table td:before {
  color: #FFFFFF;

}

#homebodytable{
  text-align: left;
  display: block;
  color: white;
  background-color:rgba(27, 33, 50, .4);
  border-color: #FFFFFF;
 border-radius: 20px;
 box-shadow:inset 0 0 2px 2px #888;

}
#homebodytable tr {
  border-color: #FFFFFF;
  font-size: 15px;
  
  border-width: 3px;

}


@media (min-width: 480px) {
  #homebodytable th, #homebodytable td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 20px;
  }
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #FFFFFF solid 4px;
  border-radius: 30px;
  cursor:pointer;
  background-color: #783F99;
  color:white;
  font-size:24px;
  padding-top:20px;
  padding-bottom:20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

  
  transition: all 0.3s;
  font-weight:700;
  outline: none;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
}
  
.submit:hover {
  color: #783F99;
}
  
.ease {
  width: 0px;
  height: 74px;
   border-radius: 30px;
  background-color: #821499;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}



 #search_id{

  position: relative;
  max-width: 100%;
  top: 70px;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 10%;
  margin:auto;
 background-color:rgba(27, 33, 50, .4);
 
 
  outline: none;
  height: 45px;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;

  

}


#searchbutton{
  
  max-width: 100%;
  width: 30%;
  position: relative;
  height: 45px;
  margin: auto;
  top: 90px;
  display: inline-block;

  
  border-radius: 30px;
  cursor:pointer;
  background-color:rgba(167, 200, 255, .3);
  color:white;
 
  
  -moz-transition: all 0.3s;
  transition: all 0.3s;
 

 
    
   
    

}



.searchheader1{

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: inline-block;
  
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  width: 100%;
 
 padding-top: 10px;
 padding-bottom: 10px;
border-width: 3px;
border-color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  background-color:rgba(150, 50, 30, .3);
box-shadow: 0 0 3px 3px #404040;

}

.addillnessheader{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   display: inline-block;
  
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  width: 100%;
 
 padding-top: 13px;
 padding-bottom: 12px;
border-width: 3px;
border-color: #FFFFFF;
  font-weight: bold;
  font-size: 27px;
  background-color:rgba(150, 50, 30, .3);
box-shadow: 0 0 3px 3px #404040;


}
.homeheader{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   display: inline-block;
  
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  width: 100%;
 
 padding-top: 10px;
 padding-bottom: 10px;
border-width: 3px;
border-color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  background-color:rgba(150, 50, 30, .3);
box-shadow: 0 0 3px 3px #404040;


}
.medicalhistoryheader{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

   display: inline-block;
  
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  color: white;
  width: 100%;
 
 padding-top: 10px;
 padding-bottom: 10px;
border-width: 3px;
border-color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  background-color:rgba(150, 50, 30, .3);
box-shadow: 0 0 3px 3px #404040;


}
#addillnessinput{

  position: relative;
  max-width: 100%;
  width: 60%;
  top: 55px;
  border-radius: 10px;
  margin: auto;
  float: left;
  margin:auto;
 background-color:rgba(27, 33, 50, .4);
 
  outline: none;
  height: 40px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;

  

}

#addillnessarea{

 position: relative;
  max-width: 100%;
  width: 60%;
  top: 65px;
  border-radius: 10px;
  border-width: 2px;
  margin: auto;
  float: left;
 background-color:rgba(27, 33, 50, .4);
 
  outline: none;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#addillnessarea:focus {
  height: 50px;
  width: 70%;
  border-color: #FFFFFF;
}

#addillnessbutton{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
max-width: 100%;
  width: 50%;
  position: relative;
  height: 45px;
  float: left;
  top: 80px;
 

  border-radius: 30px;
  cursor:pointer;
   background-color:rgba(167, 200, 255, .3);
 
  color:white;
 
  
  -moz-transition: all 0.3s;
  transition: all 0.3s;
 

}

#addillnessbutton:active{
  border-width: 5px;
  font-size: 20px;
 
  border-color: #820099;
  
  outline: none;



}



.Timeinput{

  
  text-align: center;
  position: relative;
  margin-top: 0px;
  display: inline-block;
  width: 100%;

}
#iinformativeimage{
  width: 80%;
  margin-top: 0px;
}

#alarmbutton{

  
 
max-width: 100%;
  width: 50%;
  position: relative;
  height: 45px;
  float: left;
  top: 250px;
  

  border-radius: 30px;
  cursor:pointer;
   background-color:rgba(167, 200, 255, .3);
 
  color:white;
  
  
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#alarmbutton2{

  
 
max-width: 100%;
  width: 50%;
  position: relative;
  height: 45px;
  top: 150px;
 

  border-radius: 30px;
  cursor:pointer;
   background-color:rgba(167, 200, 255, .3);
 
  color:white;
  
  
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


#alarmbuttoncont{
  text-align: center;
}


#alarmbutton:active{
  
  font-size: 20px;
  border-color: #820099;
;


}
#adddisease{
  position: relative;
  max-width: 100%;
  width: 83%;
  top: 60px;
  border-radius: 30px;
  display: inline-block;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-width: 2px;
  border-color: #820099; 
  outline: none;
  height: 45px;
  font-weight: bold;
  font-size: 13px;
  box-shadow:inset 0 0 3px 3px #888;
  
}
#addillnessinputs{
  text-align: center;

}

#addmedicine{
  position: relative;
  max-width: 100%;
  width: 100%;
  top: 20px;
  border-radius: 10px;
  margin: auto;
  float: left;
  margin:auto;
 background-color:rgba(27, 33, 50, .4);
 
  outline: none;
  height: 40px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  
}
#addmedicinebutton{

  
max-width: 100%;
  width: 39%;
  position: relative;
  height: 40px;
  top: 40px;
 float: right;

  border-radius: 10px;
  cursor:pointer;
   background-color:rgba(167, 200, 255, .3);
 
  color:white;
  
  



}




 #med_id{
  position: relative;
  max-width: 100%;
  width:100px;
  display:inline-block;
  margin: 0 auto ;
   margin-top: 40px;
   border-width: 3px;
  border-radius: 10px;
 top: 40px;

position: relative;
  max-width: 100%;
  width: 60%;
 
  border-radius: 10px;
  margin: auto;
  float: left;

 background-color:rgba(27, 33, 50, .4);
 border-width: 2px;
  outline: none;
  height: 40px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;

 }


.atags{
  color: white;
  font-weight: bold;
box-sizing: border-box;
  }

  


   .navbar-nav>li >a { 
   
  
  float: right;
  position: relative;
  max-width: 100%;
  width: 25%;
  display: inline-block;
  padding-top:  15px;

box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.33);

  }


.container-fluid{

  margin-left: 15px;
  margin-left: 0;
}

.navdivalarm{
  text-align: center;
}

.ask1image{
  max-width: 100%;
  width: 100%;
  height: auto;
  position:relative;
  margin-top: 30px;
  margin-bottom: 0px;
  float: right;

   

}

.informative{
  max-width: 100%;
  width: 100%;
  height: auto;
  position:relative;
 margin-top: 0;
  float:right;

   
    

}


#updates {
position: absolute;
top: 20px;
  color: white;
 margin-left: 0px;
 left: 110px;
  width: 60%;
  max-height: 100%;
  height: 55%;
  padding-top: 9px;
  text-align: center;
  max-width: 100%;
border-radius: 10px;

border: 0px solid #BBC1C6 ;
display: inline-block;
background-color:rgba(27, 33, 90, .4);
 box-shadow:0 1px 2px 2px #888;
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
float: right;

}


.boxed{

  border: 0px solid #BBC1C6 ;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin-left: ;
  background-color:rgba(27, 90, 50, .3);
  box-shadow: 0 1px 2px 2px #404040;


  
}
.boxed1{

  border: 0px solid #BBC1C6 ;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin-left: 5%;
  background-color:rgba(27, 90, 50, .3);
 


  
}

#happyimg {

  max-width: 100%;
  width: 100%;
  
  position: absolute;
  bottom:  10%;
  right: 0;
}

#happyimg2 {

  max-width: 100%;
  width: 100%;
  
  position: absolute;
  bottom:  10%;
  right: 0;
}

#historyinstructions{

  color: white;
  height: 50px;
  width: 90%;
  position: absolute;
  bottom: 10%;
  padding-top: 5px;
  text-align: center;
  max-width: 100%;
border-radius: 5px;
float: left;

background-color:rgba(27, 33, 50, .4);
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#backbutton{

float: left;
background-color:rgba(150, 50, 30, .0);
border: 1px ; 
outline: none;


}
#questionbutton{

float: right;
background-color:rgba(150, 50, 30, .0);
border: 1px ; 
outline: none;


}


#okaybutton{
    background-color:rgba(106, 139, 232, .5);

border-radius: 15px;



}

#popupbox{

background-color:rgba(23, 81, 112, 1);

color: white;
border-radius: 30px;


}

.spinner {
  width: 100px;
  color: white;
}
.spinner input {
  text-align: right;
  border-radius: 10px;
   color: white;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  border-width: 0px;
  border-color: solid white;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 10px;
  margin-bottom:  0px;
  margin-top: -9px;
 background-color:rgba(0, 100, 150, 1);
 color: #FFFFFF;
  
  

}
.input-group-btn-vertical > .btn:last-child {
  margin-top: 0px;
  margin-bottom:  -3px;
  border-bottom-right-radius: 10px;
  background-color:rgba(0, 100, 150, 1);
   color: #FFFFFF;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

#buttonup{
  height: 21px;
  font-size: 10px;
  padding-top:4px;

}

#buttondown{
  height: 21px;
  font-size: 10px;
  padding-top:  4px;

}

#inputs{

  text-align: center;
  display: inline-block;inputss

}

#hrs, #mins, #days{
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color:rgba(27, 33, 90, .4);

}

