@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th, .rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.historybody {
 
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-image: url("../images/all.jpg");
}
.rwd1-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd1-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd1-table th {
  display: none;
}

.rwd1-table td {
  display: block;
}

.rwd1-table td:first-child {
  padding-top: .5em;
}

.rwd1-table td:last-child {
  padding-bottom: .5em;
}

.rwd1-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd1-table td:before {
    display: none;
  }
}

.rwd1-table th, .rwd1-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd1-table th, .rwd1-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd1-table th:first-child, .rwd1-table td:first-child {
    padding-left: 0;
  }
  .rwd1-table th:last-child, .rwd1-table td:last-child {
    padding-right: 0;
  }
}

.searchbody {
 
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-image: url("../images/all.jpg");
}

.homebody {

 display: block;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-image: url("../images/all.jpg");
 
  

}

.h1history {
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  color: white;
  padding-right: 10px;
  font-weight: bold;
}

.rwd1-table {
  background:#820099;
  color: #fff;
  border-radius: 25px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:inset 0 0 5px 5px #888;
    font-size: 10px;
}

.rwd1-table tr {
  border-color: #FFFFFF;
  font-size: 15px;
  box-shadow:inset 0 0 5px 5px #888;
  border-width: 3px;

}

.rwd1-table th, .rwd1-table td {
  margin: .1em .1em;
  border-color: #FFFFFF;
  border-width: 3px;

}

@media (min-width: 480px) {
  .rwd1-table th, .rwd1-table td {
    padding: 20px !important;
    overflow:auto;
    min-width:0;
    width:100%

    
    top:100px!important;
    left:auto!important;
    right:-150px!important;
    width:200px!important;
  }
}

.rwd1-table th, .rwd1-table td:before {
  color: #FFFFFF;

}


.rwd-table {
  background:#820099;
  color: #fff;
  border-radius: 25px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:inset 0 0 5px 5px #888;
    font-size: 10px;
}

.rwd-table tr {
  border-color: #FFFFFF;
  font-size: 15px;
  box-shadow:inset 0 0 5px 5px #888;
  border-width: 3px;

}

.rwd-table th, .rwd-table td {
  margin: .1em .1em;
  border-color: #FFFFFF;
  border-width: 3px;

}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 70px !important;
  }
}

.rwd-table th, .rwd-table td:before {
  color: #FFFFFF;

}




#homebodytable{
  display: block;
  color: white;
  background-color: #820099;
  border-color: #FFFFFF;
 border-radius: 20px;
 box-shadow:inset 0 0 5px 5px #888;
}
#homebodytable tr {
  border-color: #FFFFFF;
  font-size: 15px;
  
  border-width: 3px;

}


@media (min-width: 480px) {
  #homebodytable th, #homebodytable td {
    padding: 15px !important;
  }
}









#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #FFFFFF solid 4px;
  border-radius: 30px;
  cursor:pointer;
  background-color: #783F99;
  color:white;
  font-size:24px;
  padding-top:20px;
  padding-bottom:20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

  
  transition: all 0.3s;
  font-weight:700;
  outline: none;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
}
  
.submit:hover {
  color: #783F99;
}
  
.ease {
  width: 0px;
  height: 74px;
   border-radius: 30px;
  background-color: #821499;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}



#searchinput{

  position: relative;
  max-width: 100%;

  top: 60px;
  border-radius: 30px;
  margin: auto;
  left: 0;
  right: 10%;
  margin:auto;
  background-color: #FFFFFF;
  border-width: 4px;
  border-color: #820099; 
  outline: none;
  height: 45px;
  font-weight: bold;
  font-size: 15px;
  box-shadow:inset 0 0 5px 5px #888;
  

}
#searchinput: active{
background-color: #820099;
}


#searchbutton{
  color: white;
  background-color:  #4A0057;
  border-color:  #820099;
  border-width: 4px;
  outline: none;
  border-radius: 30px;
  height: 47px;
  width: 70px;
  font-weight: bolder;
  font-size: 20px;
  box-shadow:inset 0 0 5px 5px #888;

}
#searchbutton:focus{
  border-width: 5px;
  font-size: 15px;
  background-color: #FFFFFF;
  border-color: #820099;
  color: #820099;


}


.searchheader{
  position: relative;
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  color: white;
  padding-right: 10px;
  font-weight: bold;

}

.addillnessheader{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  color: white;
  padding-right: 10px;
  font-weight: bold;

}
#addillnessinput{

  position: relative;
  max-width: 100%;
  width: 83%;
  top: 10px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-width: 2px;
  border-color: #820099; 
  outline: none;
  height: 45px;
  font-weight: bold;
  font-size: 13px;
  box-shadow:inset 0 0 3px 3px #888;
  

}

#addillnessarea{

  height: 200px;
  border: 3px solid #820099;
  
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color:#747474;
  background-position: bottom right;
  background-color: #EBF0F4;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 30px;
  outline: none;
  box-shadow:inset 0 0 3px 3px #888
}

#addillnessbutton{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 border-radius: 50px;
  width: 80%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #783F99;
  color:white;
  font-size:20px;
  padding-top:12px;
  padding-bottom:10px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
   margin-left:5%;
  margin-right: auto;
  margin-top: 100px;
    font-weight:700;

}

#addillnessbutton:focus{
  border-width: 5px;
  font-size: 15px;
  background-color: #FFFFFF;
  border-color: #820099;
  color: #820099;


}

#hrs{

 
  width: 20%;
  display: inline-block;
  border-width: 3px;
  border-radius: 10px;
  border-color: #820099;
  box-shadow:inset 0 0 3px 3px #888;
}

#mins{

 
  width: 20%;
  display: inline-block;
   border-width: 3px;
  border-radius: 10px;
  border-color: #820099;
 box-shadow:inset 0 0 3px 3px #888;
}

.Timeinput{

  
  text-align: center;
  position: relative;
  margin-top: 50px;
  
  width: 100%;

}

#alarmbutton{

  
  max-width: 100%;
  width: 40%;
  position: relative;
  top: 150px;
  margin: auto;
  display: inline-block;

  border: #fbfbfb solid 4px;
  border-radius: 50px;
  cursor:pointer;
  background-color: #783F99;
  color:white;
  f
  padding-top:10px;
  padding-bottom:10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
   margin-left:auto;
  margin-right: auto;
  margin-top: 100px;
    font-weight:700;
    box-shadow:inset 0 0 3px 3px #888
    height: 50px;
}

#alarmbuttoncont{
  text-align: center;

}
#alarmbutton:focus{
  
  font-size: 20px;
  background-color: #FFFFFF;
  border-color: #820099;
  color: #820099;


}
#adddisease{
  position: relative;
  max-width: 100%;
  width: 83%;
  top: 60px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-width: 2px;
  border-color: #820099; 
  outline: none;
  height: 45px;
  font-weight: bold;
  font-size: 13px;
  box-shadow:inset 0 0 3px 3px #888;
  
}


#days{

position: relative;
  max-width: 100%;
  width:100px;
  display:block;
  margin: 0 auto ;
   margin-top: 40px;
   border-width: 3px;
  border-radius: 10px;
  border-color: #820099;
box-shadow:inset 0 0 3px 3px #888;


}


